<!DOCTYPE html>
<html ng-app="listApp">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Legal List</title>
  </head>
  <body ng-controller="listCtrl">
    <div class="container">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Enter Zip Code" ng-model="zip">
        </div>
        <button type="submit" class="btn btn-primary" ng-click='triggerRequest(zip)'>Submit</button>
      </form>
    </div>
    <div class="container">
      <div class="panel panel-default">
        <div class="panel-heading">Filter Using Input fields below:</div>
        <!-- Table -->
        <table class="table table-striped">
          <thead>
            <tr class="warning">
              <td>
                <input type="text" placeholder="Location" ng-model="search.Location">
              </td>
              <td>
                <input type="text" placeholder="Address" ng-model="search.Address">
              </td>
              <td>      
                <input type="text" placeholder="City" ng-model="search.City">
              </td>
              <td ng-show="validZip()">
                {{zip}}
              </td>
              <td ng-show="!validZip()">
                Zipcode
              </td>
            </tr>
          </thead>
          <tbody ng-repeat='place in places | filter:search' ng-show="places.length > 0">
            <tr>
              <td>{{place.Location}}</td>
              <td>{{place.Address}}</td>
              <td>{{place.City}}</td>
              <td>{{place.Zip}}</td>
            </tr>  
          </tbody>
        </table>
          <h3 class="text-center" ng-show="noResults">
            Invalid Input: <small>Zip Code Invalid or Not Found</small>
          </h3>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-resource.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>