<div class="container">
  <div class="col-mid-8">
    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Enter Zip Code" ng-model="input" required minlength="5" maxlength="5">
      </div>
      <button type="submit" class="btn btn-primary" ng-click='triggerRequest(input)'>
        Submit
      </button>
    </form> 
  </div>
  <div class="col-mid-4">
    <div class="text-right"> 
      list was last updated on {{date}}
    </div>
  </div>
  <div class="col-mid-4" style="float: right; height: 230px">
    <div map-directive source="src"></div>
  </div>
</div>
<div ui-view></div>